.trueIcon {
  background-color: rgb(5, 197, 21);
  width: 1.9rem;
  height: 1.9rem;
}
.falseIcon {
  background-color: rgb(5, 197, 181);
  width: 1.9rem;
  padding-top: 0.12rem;
  height: 1.9rem;
}
.bi-check-circle {
  color: rgb(196, 247, 204);
}

.addbn {
  margin-left: 52rem;
}
