header {
  position: relative;

  .sidebar-nav {
    position: fixed;
    margin-top: 4rem;
    top: 0;
    bottom: 0;
    left: 0;
    // padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 5px 7px 0 rgb(0 0 0 / 5%), 0 5px 15px 0 rgb(0 0 0 / 5%);
    // width: 240px;
    z-index: 600;
  }
}

.sidebargroung {
  background-color: rgb(47, 54, 54);
  border-radius: 3px;
}

.sidebarcolor {
  // color: rgb(255, 255, 255);
  color: rgb(2, 253, 228);
  font-weight: 700;
  font-size: 17px;
  margin-left: 0.5rem;
}

.sidebarhover:hover {
  background-color: rgb(96, 6, 240);
  color: white;
}

.sidebarli {
  background-color: rgb(205, 216, 214);
}

.active {
  background-color: rgb(15, 125, 216);
  border-radius: 2px;
  color: white;
}
