<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-success text-success"
          >
            <i class="bi bi-people"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ allChild }}</h3>
            <small class="text-muted fs-3 textdecor">Enfants enrégistrer</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-danger text-danger"
          >
            <i class="bi bi-palette"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ allChildAnivSize }}</h3>
            <small class="text-muted fs-3 textdecors"
              >Anniversaire du mois</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-warning text-warning"
          >
            <i class="bi bi-basket3"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ allActivitySize }}</h3>
            <small class="text-muted fs-3 textdecor">Evenements</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div
            class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info"
          >
            <i class="bi bi-box-arrow-right"></i>
          </div>
          <div class="ms-3">
            <h3 class="mb-0 font-weight-bold">{{ allChildLogSize }}</h3>
            <small class="text-muted fs-3 textdecor">Enfants sorti</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ================================OPtions suplémentaire=========================== -->
<div class="row">
  <div class="col-md-6 col-lg-3 width mb-4">
    <div class="card width borderRaduis bgcolor1">
      <div class="card-body width">
        <div class="d-flex align-items-center width">
          <div
            class="widthicon btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-success text-success"
          >
            {{ allChildMSize }}
          </div>
          <div class="ms-3 textStyle">
            <h3 class="mb-0 font-weight-bold"></h3>
            <small class="text-muted fs-3 textdecors">Au sexe Masculin</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 width mb-4">
    <div class="card width borderRaduis bgcolor2">
      <div class="card-body width">
        <div class="d-flex align-items-center width">
          <div
            class="widthicon btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-danger text-danger"
          >
            {{ allChildFSize }}
          </div>
          <div class="ms-3 textStyle">
            <h3 class="mb-0 font-weight-bold"></h3>
            <small class="text-muted fs-3 textdecors">Au sexe Féminin</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 width mb-4">
    <div class="card width borderRaduis bgcolor3">
      <div class="card-body width">
        <div class="d-flex align-items-center width">
          <div
            class="widthicon btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-warning text-warning"
          >
            {{ allChildSponsorSize }}
          </div>
          <div class="ms-3 textStyle">
            <h3 class="mb-0 font-weight-bold"></h3>
            <small class="text-muted fs-3 textdecors">Enfant Sponsorisé</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3 width mb-4">
    <div class="card width borderRaduis bgcolor4">
      <div class="card-body width">
        <div class="d-flex align-items-center width">
          <div
            class="widthicon btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-info"
          >
            {{ allChildNoSponsorSize }}
          </div>
          <div class="ms-3 textStyle">
            <h3 class="mb-0 font-weight-bold"></h3>
            <small class="text-muted fs-3 textdecors"
              >Enfants non Sponsorisé</small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
